{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <div>
        <form name="project" method="post" action="" class="form-horizontal" novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
			<span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    {% if project is not defined %}
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="project_name" class="control-label col-sm-3 required">
                                Project Name *
                            </label>
                            <div class="col-sm-9">
                                <input id="project_name" name="project[name]" required="required" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project_icon" class="control-label col-sm-3 required">
                                Project Icon *
                            </label>
                            <div class="col-sm-9">
                                <input id="project_icon" name="project[icon]" required="required" class="form-control" type="url">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="project_description" class="control-label col-sm-3 required">
                                Description *
                            </label>
                            <div class="col-sm-9">
                                <textarea style="height: 81px; overflow-y: hidden;" id="project_description" name="project[description]" required="required" class=" form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input id="project_id" name="project[id]" required="required" class="form-control" type="hidden" value="{{ project.id }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="project_name" class="control-label col-sm-3 required">
                                    Project Name *
                                </label>
                                <div class="col-sm-9">
                                    <input id="project_name" name="project[name]" required="required" class="form-control" type="text" value="{{ project.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="project_icon" class="control-label col-sm-3 required">
                                    Project Icon *
                                </label>
                                <div class="col-sm-9">
                                    <input id="project_icon" name="project[icon]" required="required" class="form-control" type="url" value="{{ project.project_icon }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="project_description" class="control-label col-sm-3 required">
                                    Description *
                                </label>
                                <div class="col-sm-9">
                                   <textarea style="height: 108px; overflow-y: hidden;" rows="3" id="project-description" name="project[description]" class="form-control">
                                       {{ project.description }}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </fieldset>
            <hr>
            <div class="form_buttons pull-right">
                <button type="submit"  class="btn btn-primary">
                    Save
                </button>
                <a  href="{{ site_url('project/index') }}" class="btn btn-default">
                    Cancel
                </a>
            </div>
            <div class="clear"></div>
            <input id="user__token" name="user[_token]" class="form-control" value="v6JhOQJ_IZ8RBG1SClYzx8AdxWCdqQ4WjKWylUalX4g" type="hidden"></form>
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
