{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <div>
        <form name="user" method="post" action="" class="form-horizontal" novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-user-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
                <span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    <div class="col-md-6">
                        <h3>User Info</h3>
                        <div class="form-group">
                            <label for="user_username" class="control-label col-sm-3 required">
                                Username *
                                <span class="help-block">
                                    <a title="" data-original-title="" href="#" data-toggle="tooltip" data-placement="top" data-title="Usernames may only contain lower case letters, numbers, &quot;-&quot; and &quot;_&quot;">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </span>
                            </label>
                            <div class="col-sm-9">
                                <input id="user_username" name="user[username]" required="required" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_plainpassword_first" class="control-label col-sm-3 required">
                                Password *
                                <span class="help-block">
                                    <a title="" data-original-title="" href="#" data-toggle="tooltip" data-placement="top" data-title="Password must contain a minimum of 8 characters and at least one number">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                    </a>
                                </span>
                            </label>
                            <div class="col-sm-9">
                                <input id="user_plainpassword_first" name="user[plainpassword][first]" required="required" class="form-control" type="password">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_plainpassword_second" class="control-label col-sm-3 required">
                                Confirm Password *
                            </label>
                            <div class="col-sm-9">
                                <input id="user_plainpassword_second" name="user[plainpassword][second]" required="required" class="form-control" type="password">
                            </div>
                        </div>
                       <div class="form-group">
                           <label class="radio_btn control-label col-sm-3 required">
                                Gender
                            </label>
                           <div class="col-sm-9">
                               <div class="radio">
                                   <label class="radio_btn ">
                                       <input id="user_gender_0" name="user[gender]" required="required" class="" value="Male" type="radio">
                                        Male
                                    </label>
                               </div>
                               <div class="radio">
                                   <label class="radio_btn ">
                                       <input id="user_gender_1" name="user[gender]" required="required" class="" value="Female" type="radio">
                                        Female
                                    </label>
                               </div>
                           </div>
                       </div>
                        <div class="form-group">
                            <label for="user_firstname" class="control-label col-sm-3">
                                Firstname
                            </label>
                            <div class="col-sm-9">
                                <input id="user_firstname" name="user[firstname]" required="required" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_lastname" class="control-label col-sm-3">
                                Firstname
                            </label>
                            <div class="col-sm-9">
                                <input id="user_lastname" name="user[lastname]" required="required" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3>Contact Info</h3>
                        <div class="form-group">
                            <label for="user_email_first" class="control-label col-sm-3 required">
                                Email *
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input id="user_email_first" name="user[email][first]" required="required" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_email_second" class="control-label col-sm-3 required">
                                Confirm Email *
                            </label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <span class="input-group-addon">@
                                    </span>
                                    <input id="user_email_second" name="user[email][second]" required="required" class="form-control" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="user_phone" class="control-label col-sm-3 required">
                                Phone Number
                            </label>
                            <div class="col-sm-9">
                                <input id="user_phone" name="user[phone]" required="required" class="form-control" type="text">
                            </div>
                        </div>
                    </div>
                </div>

            </fieldset>

            <hr>
            <div class="form_buttons pull-right">
                <button type="submit"  class="btn btn-primary">
                    Save
                </button>
                <a  href="{{ site_url('user/index') }}" class="btn btn-default">
                    Cancel
                </a>
            </div>
            <div class="clear"></div>


            <input id="user__token" name="user[_token]" class="form-control" value="v6JhOQJ_IZ8RBG1SClYzx8AdxWCdqQ4WjKWylUalX4g" type="hidden"></form>
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
