{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ base_url("public/vendor/datatables/css/jquery.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/buttons.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/select.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/editor.dataTables.min.css") }}" rel="stylesheet" />
    <script src="{{ base_url("public/vendor/datatables/js/dataTables.editor.min.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        </br>
        <div class="form-inline">
            <div class="form-group">
                <div class="form-group">
                    {#<a class="form-control btn btn-primary" data-toggle="collapse" data-target="#accordion" href="#collapseOne">Create New</a>#}
                    <a class="form-control btn btn-primary" href="{{ site_url('user/add') }}">Create New</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Filters</a>
                </div>
            </div>
        </div>
        </br>
    </div>

    <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
            <p>Some text here</p>
            <p>Some text here</p>
            <p>Some text here</p>
            <p>Some text here</p>
        </div>
    </div>

    <div class="col-md-12">
        <table id="tblUser" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th></th>
                <th>Username</th>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th width="18%">Created date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                {#<li>{{ user.username|e }}</li>#}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.last_name }}</td>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.phone }}</td>
                    <td>{{ user.created_date }}</td>
                    <td>
                        <a title="Recycle" data-recycleid="{{ user.id }}" data-recyclename="{{ user.username }}" data-recycleinfo="User: {{ user.username }}" onclick="recycle(this);" href="#">
                            <i class="fa fa-trash fa-2x"></i>
                        </a>
                        <a title="Edit User" href="{{ site_url(user.edit_url)}}">
                            <i class="fa fa-pencil-square-o fa-2x"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {{ include('twig/manage/inc/recycle.twig', { 'data': data }) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include("twig/manage/inc/recycle-js.twig", {'data':data}) }}
    <script>
        $(document).ready(function () {
            $('#tblUser').DataTable();
            {#showLastLogin({{ user.last_login }})#}
        });
        $('#tblUser')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');

    </script>
{% endblock %}
