{% extends 'twig/base.twig' %}

{% block content %}

    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">DASHBOARD</h1>
                <h1 class="page-subhead-line">This is dummy text , you can replace it with your original text. </h1>

            </div>
        </div>
        <!-- /. ROW  -->
        <div class="row">
            <div class="col-md-4">
                <div class="main-box mb-red">
                    <a href="#">
                        <i class="fa fa-bolt fa-5x"></i>
                        <h5>Zero Issues</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-dull">
                    <a href="#">
                        <i class="fa fa-plug fa-5x"></i>
                        <h5>40 Task In Check</h5>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="main-box mb-pink">
                    <a href="#">
                        <i class="fa fa-dollar fa-5x"></i>
                        <h5>200K Pending</h5>
                    </a>
                </div>
            </div>

        </div>
        <!-- /. ROW  -->

        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">

                        <div id="reviews" class="carousel slide" data-ride="carousel">

                            <div class="carousel-inner">
                                <div class="item active">

                                    <div class="col-md-10 col-md-offset-1">

                                        <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="public/vendor/bs-advance-admin/img/user.gif" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="col-md-10 col-md-offset-1">

                                        <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="public/vendor/bs-advance-admin/img/user.png" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
                                    </div>

                                </div>
                                <div class="item">
                                    <div class="col-md-10 col-md-offset-1">

                                        <h4><i class="fa fa-quote-left"></i>Lorem ipsum dolor sit amet, consectetur adipiscing  Lorem ipsum dolor sit amet, consectetur adipiscing elit onec molestie non sem vel condimentum. <i class="fa fa-quote-right"></i></h4>
                                        <div class="user-img pull-right">
                                            <img src="public/vendor/bs-advance-admin/img/user.gif" alt="" class="img-u image-responsive" />
                                        </div>
                                        <h5 class="pull-right"><strong class="c-black">Lorem Dolor</strong></h5>
                                    </div>
                                </div>
                            </div>
                            <!--INDICATORS-->
                            <ol class="carousel-indicators">
                                <li data-target="#reviews" data-slide-to="0" class="active"></li>
                                <li data-target="#reviews" data-slide-to="1"></li>
                                <li data-target="#reviews" data-slide-to="2"></li>
                            </ol>
                            <!--PREVIUS-NEXT BUTTONS-->

                        </div>

                    </div>

                </div>
                <!-- /. ROW  -->
                <hr />

                <div class="panel panel-default">

                    <div id="carousel-example" class="carousel slide" data-ride="carousel" style="border: 5px solid #000;">

                        <div class="carousel-inner">
                            <div class="item active">

                                <img src="public/vendor/bs-advance-admin/img/slideshow/1.jpg" alt="" />

                            </div>
                            <div class="item">
                                <img src="public/vendor/bs-advance-admin/img/slideshow/2.jpg" alt="" />

                            </div>
                            <div class="item">
                                <img src="public/vendor/bs-advance-admin/img/slideshow/3.jpg" alt="" />

                            </div>
                        </div>
                        <!--INDICATORS-->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example" data-slide-to="1"></li>
                            <li data-target="#carousel-example" data-slide-to="2"></li>
                        </ol>
                        <!--PREVIUS-NEXT BUTTONS-->
                        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.REVIEWS &  SLIDESHOW  -->
            <div class="col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        Recent Chat History
                    </div>
                    <div class="panel-body" style="padding: 0px;">
                        <div class="chat-widget-main">


                            <div class="chat-widget-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="chat-widget-name-left">
                                <h4>Amanna Seiar</h4>
                            </div>
                            <div class="chat-widget-right">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="chat-widget-name-right">
                                <h4>Donim Cruseia </h4>
                            </div>
                            <div class="chat-widget-left">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="chat-widget-name-left">
                                <h4>Amanna Seiar</h4>
                            </div>
                            <div class="chat-widget-right">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </div>
                            <div class="chat-widget-name-right">
                                <h4>Donim Cruseia </h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Message" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button">SEND</button>
                                    </span>
                        </div>
                    </div>
                </div>


            </div>
            <!--/.Chat Panel End-->
        </div>
        <!-- /. ROW  -->


        <div class="row">

            <div class="col-md-8">
                <div class="list-group">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">LIST GROUP HEADING</h4>
                        <p class="list-group-item-text" style="line-height: 30px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </a>
                </div>
                <br />
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/zpOULjyy-n8?rel=0"></iframe>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i>Notifications Panel
                    </div>

                    <div class="panel-body">
                        <div class="list-group">

                            <a href="#" class="list-group-item">
                                <i class="fa fa-twitter fa-fw"></i>3 New Followers
                                    <span class="pull-right text-muted small"><em>12 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-envelope fa-fw"></i>Message Sent
                                    <span class="pull-right text-muted small"><em>27 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i>New Task
                                    <span class="pull-right text-muted small"><em>43 minutes ago</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-upload fa-fw"></i>Server Rebooted
                                    <span class="pull-right text-muted small"><em>11:32 AM</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i>Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i>Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                            </a>

                            <a href="#" class="list-group-item">
                                <i class="fa fa-bolt fa-fw"></i>Server Crashed!
                                    <span class="pull-right text-muted small"><em>11:13 AM</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-warning fa-fw"></i>Server Not Responding
                                    <span class="pull-right text-muted small"><em>10:57 AM</em>
                                    </span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-shopping-cart fa-fw"></i>New Order Placed
                                    <span class="pull-right text-muted small"><em>9:49 AM</em>
                                    </span>
                            </a>
                        </div>
                        <!-- /.list-group -->
                        <a href="#" class="btn btn-info btn-block">View All Alerts</a>
                    </div>

                </div>
            </div>
        </div>
        <!--/.Row-->
        <hr />
        <div class="row">

            <div class="col-md-8">

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                            <th>User No.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1</td>
                            <td><span class="label label-danger">Mark</span></td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><span class="label label-info">100090</span></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td>100090</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Larry</td>
                            <td><span class="label label-danger">the Bird</span> </td>
                            <td>@twitter</td>
                            <td>100090</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><span class="label label-success">Mark</span></td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><span class="label label-info">100090</span></td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>Larry</td>
                            <td><span class="label label-primary">the Bird</span></td>
                            <td>@twitter</td>
                            <td>100090</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><span class="label label-warning">Jacob</span></td>
                            <td><span class="label label-success">Thornton</span></td>
                            <td>@fat</td>
                            <td><span class="label label-danger">100090</span></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Larry</td>
                            <td><span class="label label-primary">the Bird</span></td>
                            <td>@twitter</td>
                            <td>100090</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><span class="label label-warning">Jacob</span></td>
                            <td><span class="label label-success">Thornton</span></td>
                            <td>@fat</td>
                            <td><span class="label label-danger">100090</span></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><span class="label label-success">Mark</span></td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><span class="label label-info">100090</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>




            </div>
            <div class="col-md-4">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Recent Comments Example
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">

                            <li class="media">

                                <div class="media-body">

                                    <div class="media">
                                        <a class="pull-left" href="#">
                                            <img class="media-object img-circle img-comments" src="public/vendor/bs-advance-admin/img/user.png" />
                                        </a>
                                        <div class="media-body">
                                            <h4 class="media-heading">Nulla gravida vitae  </h4>
                                            Donec sit amet ligula enim. Duis vel condimentum massa.

                                            <!-- Nested media object -->
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle img-comments" src="public/vendor/bs-advance-admin/img/user.gif" />
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Amet ligula enim</h4>
                                                    Donec sit amet ligula enim .
                                                </div>
                                            </div>
                                            <div class="media">
                                                <a class="pull-left" href="#">
                                                    <img class="media-object img-circle img-comments" src="public/vendor/bs-advance-admin/img/user.png" />
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading">Donec t ligula enim</h4>
                                                    Donec sit amet  amet ligula enim .
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--/.Row-->
        <hr />
        <div class="row" style="padding-bottom: 100px; `">
            <div class="col-md-6">
                <div id="comments-sec">
                    <h4><strong>Compose Support Ticket </strong></h4>
                    <hr />


                    <div class="form-group  ">
                        <label>Please Write a Subject Line</label>
                        <input type="text" class="form-control" required="required" placeholder="Enter Subject Of Ticket" />
                    </div>
                    <div class="form-group ">
                        <label>Please Enter Issue</label>
                        <textarea class="form-control" rows="8"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Compose &amp; Send Ticket</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="panel panel-back noti-box">
                            <span class="icon-box bg-color-black">
                                <i class="fa fa-bicycle"></i>
                            </span>
                    <div class="text-box">
                        <p class="main-text">52 Important Issues to Fix </p>
                        <p>Please fix these issues to work smooth</p>
                        <p>Time Left: 30 mins</p>
                        <hr />
                        <p>
                                    <span class=" color-bottom-txt"><i class="fa fa-edit"></i>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                               Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.

                                    </span>


                        </p>
                        <hr />
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit gthn.
                    </div>
                </div>
            </div>
        </div>
        <!--/.ROW-->

    </div>
    <!-- /. PAGE INNER  -->


{% endblock %}