{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <div>
        <form name="dialogue" method="post" action=""  novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
                <span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    {% if dialogue is not defined %}
                        <div class="col-md-12 ">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    AAA
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dialogue_name" class="control-label  required">
                                                Name *
                                            </label>
                                            <input id="dialogue_name" name="dialogue[name]" required="required" class="form-control" type="text">
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_audio" class="control-label  required">
                                                Audio *
                                            </label>
                                            <input id="dialogue_audio" name="dialogue[audio_url]" required="required" class="form-control" type="url">
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_icon" class="control-label  required">
                                                Icon *
                                            </label>
                                            <input id="dialogue_icon" name="dialogue[icon]" required="required" class="form-control" type="url">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dialogue_category" class="control-label  required">
                                                Category *
                                            </label>
                                            <select id="dialogue_category" name="dialogue[category_id]" class="form-control">
                                                {% for category in categories %}
                                                    <option  selected="false" value="{{ category.value }}">{{ category.key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_content" class="control-label  required">
                                                Content *
                                            </label>
                                            <textarea  id="dialogue_content" name="dialogue[content]" required="required" class=" form-control"></textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">

                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    Create a dialogue
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                                <input id="dialogue_id" name="dialogue[dialogue_id]" required="required" class="form-control" type="hidden" value="{{ dialogue.id }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_name" class="control-label  required">
                                                Name *
                                            </label>
                                            <input id="dialogue_name" name="dialogue[name]" required="required" class="form-control" type="text" value="{{ dialogue.name }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_audio" class="control-label  required">
                                                Audio *
                                            </label>
                                            <input id="dialogue_audio" name="dialogue[audio_url]" required="required" class="form-control" type="url" value="{{ dialogue.audio_url }}">
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_icon" class="control-label  required">
                                                Icon *
                                            </label>
                                            <input id="dialogue_icon" name="dialogue[icon]" required="required" class="form-control" type="url" value="{{ dialogue.icon }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="dialogue_category" class="control-label  required">
                                                Category *
                                            </label>
                                            <select class="form-control" id="dialogue_category" name="dialogue[category_id]">
                                                {% for category in categories %}
                                                    <option  selected="false" value="{{ category.value }}">{{ category.key }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="dialogue_content" class="control-label  required">
                                                Content *
                                            </label>
                                            <textarea  id="dialogue_content" name="dialogue[content]" required="required" class=" form-control">
                                                {{ dialogue.content }}
                                            </textarea>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </fieldset>
            <hr>
            <div class="form_buttons pull-right">
                <button type="submit"  class="btn btn-primary">
                    Save
                </button>
                <a  href="{{ site_url('dialogue/index') }}" class="btn btn-default">
                    Cancel
                </a>
            </div>
            <div class="clear"></div>
            <input id="user__token" name="user[_token]" class="form-control" value="v6JhOQJ_IZ8RBG1SClYzx8AdxWCdqQ4WjKWylUalX4g" type="hidden"></form>
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
