{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block content %}
    <div>
        <form name="category" method="post" action="" class="form-horizontal" novalidate="novalidate">
            <div class="{% if (error_message is not defined ) %}hide{% endif %} alert alert-danger" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Error!</strong>
                <span class="message">{{ error_message }}</span>
            </div>
            <div class="{% if (success_masage is not defined ) %}hide{% endif %} alert alert-success" id="edit-project-errors">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <strong>Success!</strong>
                <span class="message">{{ success_masage }}</span>
            </div>
            <fieldset>
                <div class="row">
                    {% if category is not defined %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="category_name" class="control-label col-sm-3 required">
                                    Category Name *
                                </label>
                                <div class="col-sm-9">
                                    <input id="category_name" name="category[name]" required="required" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_icon" class="control-label col-sm-3 required">
                                    Category Icon *
                                </label>
                                <div class="col-sm-9">
                                    <input id="category_icon" name="category[icon]" required="required" class="form-control" type="url">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_description" class="control-label col-sm-3 required">
                                    Description *
                                </label>
                                <div class="col-sm-9">
                                    <textarea style="height: 81px; overflow-y: hidden;" id="category_description" name="category[description]" required="required" class=" form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input id="project_id" name="category[id]" required="required" class="form-control" type="hidden" value="{{ category.id }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="project_name" class="control-label col-sm-3 required">
                                    Catgory Name *
                                </label>
                                <div class="col-sm-9">
                                    <input id="project_name" name="category[name]" required="required" class="form-control" type="text" value="{{ category.name }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_icon" class="control-label col-sm-3 required">
                                    Catgory Icon *
                                </label>
                                <div class="col-sm-9">
                                    <input id="category_icon" name="category[icon]" required="required" class="form-control" type="url" value="{{ category.icon }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="category_description" class="control-label col-sm-3 required">
                                    Description *
                                </label>
                                <div class="col-sm-9">
                                    <textarea style="height: 108px; overflow-y: hidden;" rows="3" id="category-description" name="category[description]" class="form-control">{{ category.description }}
                                    </textarea>
                                </div>
                            </div>
                        </div>
                    {% endif %}
            </fieldset>
            <hr>
            <div class="form_buttons pull-right">
                <button type="submit"  class="btn btn-primary">
                    Save
                </button>
                <a  href="{{ site_url('category/index') }}" class="btn btn-default">
                    Cancel
                </a>
            </div>
            <div class="clear"></div>
            <input id="user__token" name="user[_token]" class="form-control" value="v6JhOQJ_IZ8RBG1SClYzx8AdxWCdqQ4WjKWylUalX4g" type="hidden"></form>
        <div class="row">
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
