{% extends 'twig/base.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ base_url("public/vendor/datatables/css/jquery.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/buttons.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/select.dataTables.min.css") }}" rel="stylesheet" />
    <link href="{{ base_url("public/vendor/datatables/css/editor.dataTables.min.css") }}" rel="stylesheet" />
    <script src="{{ base_url("public/vendor/datatables/js/dataTables.editor.min.js") }}"></script>
{% endblock %}

{% block content %}
    <div class="col-md-12">
        </br>
        <div class="form-inline">
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-info" href="{{ site_url('category/add') }}">Create New</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <a class="form-control btn btn-default" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Filters</a>
                </div>
            </div>
        </div>
        </br>
    </div>

    <div class="col-md-12">
        <table id="tbl" class="display" cellspacing="0" width="100%">
            {% if is_temp %}
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Category Icon</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.short_description }}</td>
                        <td>{{ category.icon }}</td>
                        <td>
                            <a title="Recycle" data-recycleid="{{ category.id }}" data-recyclename="{{ category.name }}" data-recycleinfo="Project Description: {{ category.description }}" onclick="recycle(this);" href="#">
                                <i class="fa fa-plus fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            {% else %}
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Category Name</th>
                    <th>Description</th>
                    <th>Category Icon</th>
                    <th width="18%">Created On</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>{{ category.short_description }}</td>
                        <td>{{ category.icon }}</td>
                        <td>{{ category.created_on }}</td>
                        <td>
                            <a title="Recycle" data-recycleid="{{ category.id }}" data-recyclename="{{ category.name }}" data-recycleinfo="Project Description: {{ category.description }}" onclick="recycle(this);" href="#">
                                <i class="fa fa-trash fa-2x"></i>
                            </a>
                            <a title="Edit Category" href="{{ site_url(category.edit_url)}}">
                                <i class="fa fa-pencil-square-o fa-2x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>


            {% endif %}
        </table>
        {{ include('twig/manage/inc/recycle.twig', { 'data': data }) }}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include("twig/manage/inc/recycle-js.twig", {'data':data}) }}

    <script>
        $(document).ready(function () {
            $('#tbl').DataTable();
        });
        $('#tbl')
                .removeClass( 'display' )
                .addClass('table table-striped table-bordered');

    </script>
{% endblock %}
